:root {
    --main-app-color: brown;
    --secondary-app-color: #ece2de;
    --display-font: 'Special Elite';
    --app-sans: 'Open Sans'
}
body {
    font-family: 'Merriweather', serif;
    line-height: 1.4;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}
.entry-list-wrapper {
    padding-top: 100px;
    width: 65%;
    margin: auto;
}
article {
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
p {
    margin: 0;
}
.ps {
    /*    font-style: italic;*/
    font-family: 'Special Elite';
    margin-left: 10px;
    color: var(--main-app-color);
}
.ps:hover {
    color: white;
}
.sn {
    font-weight: 700;
    margin-right: 10px;
}
.lx {
    font-weight: 900;
    font-size: 1.3em;
    /*    font-family: var(--display-font), cursive;*/
}
.also {
    font-style: italic
}
.xv {
    font-style: italic
}
ul li {
    margin-bottom: 10px;
}
.se {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 5px;
}
.se-de {
    margin-bottom: 10px;
}
.grammar {
    font-style: italic;
}
.ng {
    margin-top: 10px;
}
.header {
    margin-bottom: 10px;
}
.headword {
    margin-bottom: 5px;
}
.subentry-text {
    margin-left: 1.2em;
    margin-bottom: 5px;
}
.se-info {
    background: #DDD;
    border: 1px solid #BBB;
    border-radius: 5px;
    text-transform: uppercase;
    color: #666;
    font-size: 0.75em;
    margin-right: 10px;
    padding: 2px;
    font-family: var(--app-sans), sans-serif;
}
.subentry-text.end {
    margin-left: 0px;
}

/* Need to give this a top margin because padding messes with animation */

.de-box {
    margin-bottom: 5px;
    margin-top: 20px;
}
.de {
    color: var(--main-app-color);
}
article {
    box-shadow: 2px 2px 3px -2px #CCCCCC;
    /*
    margin-bottom: 50px;
    margin-top: 50px;
*/
}

/*        Otherwise italics inside italics don't show up*/

.xv i {
    font-style: normal;
}
.subentry-header {
    background: #ece2de;
    color: #954943;
    border-color: #954943;
}
.reverses {
    margin-top: 5px;
    margin-bottom: 5px;
}
.subentries {
    /*
    background-color: #ece2de;
    border: 1px solid #954943;
    width: 500px;
    border-radius: 5px;
    padding: 15px;
*/
    margin-top: 20px;
}

/*COLLAPSIBLE*/


/*https://www.w3schools.com/howto/howto_js_collapsible.asp*/

.collapsible {
    background-color: var(--secondary-app-color);
    color: #222;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
.active,
.collapsible:hover {
    background-color: var(--main-app-color);
    color: white;
}
.content {
    padding: 0px 20px 20px 20px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #AAA;
    height: auto;
    max-height: 1500px;
    animation-duration: 0.8s;
    animation-name: growDown;
    animation-fill-mode: forwards;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: var(--main-app-color);
    align-items: center;
    grid-template-columns: 1fr 65% 1fr;
}
#search-area {
    display: grid;
    width: 95%;
    grid-template-columns: 35px 30px 1fr;
    justify-self: center;
}
#search-options {
    font-family: var(--display-font), cursive;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    padding-right: 20px;
}
#help {
    cursor: pointer;
}
#app-title {
    font-family: var(--display-font), cursive;
    font-weight: 500;
    font-size: 1.2em;
    justify-self: flex-start;
    margin-left: 30px;
    /*    text-align: center;*/
    /*    border: 1px solid white;*/
}
#dictionary {
    /*    font-size: 1.3em;*/
}
#subtitle {
    margin-left: 20px;
    font-family: 'Merriweather', serif;
    font-style: italic;
}
#myInput {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin-left: -1px;
    border: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    margin-right: 20px;
}
input:focus {
    outline: none;
}
.fade-in {
    animation-duration: var(--interval);
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* We have to transition max-height, not height. https://css-tricks.com/using-css-transitions-auto-dimensions/*/

@keyframes growDown {
    from {
        max-height: 0px;
    }
    to {
        max-height: 1200px;
    }
}

/* We have to transition max-height, not height. https://css-tricks.com/using-css-transitions-auto-dimensions/*/

@keyframes shrinkUp {
    from {
        max-height: 1000px;
    }
    to {
        max-height: 0px;
    }
}
.svg-clipped {
    -webkit-clip-path: url(#svgPath);
    clip-path: url(#svgPath);
}
.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 42px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    margin-top: -42px;
    margin-left: -42px;
}
#mimih-box {
    display: flex;
    justify-content: flex-end
}
#mimih-img {
    margin-bottom: 3px;
}
#bubblepoint-svg {
    background-color: var(--main-app-color);
}

/*MODAL (W3 SCHOOLS)*/


/* The Modal (background) */

.modal {
    font-family: var(--app-sans), sans-serif;
    /*    font-size: 0.7em;*/
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 99999999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 5% from the top and centered */
    padding: 10px 25px 10px 25px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 5px;
}
.modal-content a {
    color: #444;
    text-decoration-style: dotted;
}
.modal-content p {
    margin-bottom: 10px;
}
.modal-content table {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}
.modal-content table tr {
    vertical-align: top;
    font-size: 0.9em;
}
th {
    color: var(--main-app-color);
    padding-bottom: 5px;
    font-size: 1.2em;
}
h4 {
    color: var(--main-app-color);
    text-align: center;
    font-size: 1.2em;
}
.nobreak {
    white-space: nowrap;
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


    #mobile-about {
        display: none;
    }
    #desktop-about {
        display: block;
    }

/*@MEDIA*/


/*TABLET VIEW*/


/*MOBILE VIEW*/

@media (max-width: 800px) {
    #app-title {
        display: none;
    }
    .entry-list-wrapper {
        padding-top: 100px;
        width: 90%;
        margin: auto;
    }
    header {
        grid-template-columns: 1fr 2em;
        align-items: center;
    }
    #search-area {
        width: 87%;
        margin-left: 5%;
        margin-right: 8%;
    }
    .modal-content table {
        width: 100%;
    }
    #mobile-about {
        display: block;
    }
    #desktop-about {
        display: none;
    }
}
